
<div class="container">

    <nav class="navbar navbar-light bg-light ">
        <div class="container-fluid">
            <a class="navbar-brand ms-3 " href="#">
                <img src="https://www.medibuddy.in/assets/images/medibuddy-icon.png" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
               <span class="text-primary fw-semibold">Dr.Meds</span> 
            </a>
            <div class="text-end   ">
                <a  class="text-decoration-none me-2">About us</a>
                <a  class="text-decoration-none ms-2">login</a>
            </div>
        </div>
    </nav>
</div>

