.home-container{
    width: 60%;
}

.offer-container{
    width:75%;
}

.card-css{
    padding: 25px;
    max-width: 235px;
    box-shadow: 0 0 25px rgba(24,24,24,.161);
    border-radius: 25px;
}

.meds-css{
    
        background-color: gold;
        font-size: large;
    
    
}

.card-position{
    width: 15rem;
    position: relative;
    top: 50px;
    left: 10px;
}

.card{
    position: relative;
    left: 28px;
    top: 47px;
}

.gold{
   color: gold;
}

.dr{
    color: lightgoldenrodyellow;
}
