<div class="container bg-primary text-center">
    <h4>Hello Dr.Meds</h4>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <img src="	https://www.medibuddy.in/assets/singleConsult.webp" alt="">
   </div>
</div>
<br>
<br>
<div class="container">
    <div class="row justify-content-around">
       
            <div class="col-md-3 border" style="width: 18rem;">
                <img src="	https://doctor.medibuddy.in/assets/images/mb_talk_to_doc.png" alt="">
              </div>
              <div class="col-md-3" style="width: 18rem;">
                  <img src="	https://doctor.medibuddy.in/assets/images/mb_gold_home.png" alt="">
      
   </div>
    </div>
</div>
<br>
<br>